
  * {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: var(--htmlFontSize);
  }
  
  body {
    background-color: #fdfffd !important;
   color: white;
    font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
    font-size: var(--bodyFontSize);
    font-weight: var(--bodyFontWeight);
    line-height: var(--bodyLineHeight);
    margin: 0;
    min-block-size: 100vh;
     display: grid;
    place-items: center;
  }
  
  input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
  }
  
  textarea {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
  }
  
  select,option {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
  }
  
  input[type="submit"] {
    cursor: pointer;
  }
  
  textarea,
  select,
  option,
  input[type="submit"] {
    inline-size: 100%;
  }
  
  textarea,
  select,
  option,
  textarea,
  input[type="submit"] {
  padding: 1rem;
  }
  
  textarea,option,select {
    background-color: #2c3338;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  
  .submit-btn{
    background-color: #7dd8a5;
    color:#2c3338;
    font-weight: 700;
    text-transform: uppercase;  
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .submit-btn:hover{
    transition: 0.5s;
    background-color:#2c3338 ;
    color:#7dd8a5;
  }
  
  p {
    margin-block: 1.5rem;
    text-align: center;
  }
  
  
  img{
  mix-blend-mode:multiply;
  }

  .heading{
    background-color: rgba(0, 0, 0, 0.151);
    /* color: #7dd8a5; */
    padding: 1rem;
    border-radius: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
